.nameinput{
    position: absolute;
    height: 36px;
    left: 1022px;
    right: 125px;
    top: 245px;
    width: 293px;


    background: #FFFFFF;
    box-shadow: inset 0px -2px 0px #80DD77, inset 1px 0px 0px #F0F0F0, inset 0px 1px 0px #F0F0F0, inset -1px 0px 0px #F0F0F0;
}

.namelabel{
    
    position: absolute;
    width: 780px;
    height: 61px;
    left: 864px;
    top: 245px;
    
    font-family: Palanquin Dark;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    /* identical to box height, or 130% */
    
    
    color: #151515;

}


.questionlabel{
    position: absolute;
    height: 19px;
    left: 864px;
    right: 35.76%;
    top: 465px;

    font-family: Palanquin Dark;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 130% */


    color: #151515;

}

.questioninput{ 
    position: absolute;
    height: 36px;
    left: 1022px;
    right: 125px;
    top: 455px;
    
    background: #FFFFFF;
    box-shadow: inset 0px -2px 0px #80DD77, inset 1px 0px 0px #F0F0F0, inset 0px 1px 0px #F0F0F0, inset -1px 0px 0px #F0F0F0;
    
}



.linkinput{ 

    position: absolute;
    height: 36px;
    left: 1022px;
    right: 125px;
    top: 560px;
    
    background: #FFFFFF;
    box-shadow: inset 0px -2px 0px #80DD77, inset 1px 0px 0px #F0F0F0, inset 0px 1px 0px #F0F0F0, inset -1px 0px 0px #F0F0F0;
    

}

.linklabel{ 
    position: absolute;
    height: 19px;
    left: 864px;
    right: 35.21%;
    top: 570px;
    
    font-family: Palanquin Dark;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 130% */
    
    
    color: #151515;


}


.formButton{
    position: absolute;
    width: 284px;
    height: 58px;
    left: 947px;
    top: 698px;

    background: #80DD77;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}


.formphoto{
    position: absolute;
    width: 651px;
    height: 553px;
    left: 69px;
    top: 203px;

}

.formHeader{
    position: absolute;
    width: 284px;
    height: 91px;
    left: 1001px;
    top: 100px;
    right: 155px;

    font-family: Palanquin Dark;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 91px;
    /* identical to box height */


    color: #434343;

}

.radio1label{
    position: absolute;
    height: 24px;
    left: 1020px;
    right: 280px;
    top: 630px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #151515;

 

}

.radio2label{
    position: absolute;
    height: 24px;
    left: 1020px;
    right: 280px;
    top: 660px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #151515;

 

}




.emaillabel{
    position: absolute;
    height: 19px;
    left: 864px;
    right: 37.29%;
    top: 360px;

    font-family: Palanquin Dark;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 130% */


    color: #151515;


}

.emailinput{
    position: absolute;
    height: 36px;
    left: 1022px;
    right: 125px;
    top: 350px;

    background: #FFFFFF;
    box-shadow: inset 0px -2px 0px #80DD77, inset 1px 0px 0px #F0F0F0, inset 0px 1px 0px #F0F0F0, inset -1px 0px 0px #F0F0F0;

}